.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  height: 100vh;
  width: 100vw;
  background: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 15px;
}
.restaurantLink{
  position: absolute;
  top: 150px;
  right: 40%;
  height: 130px;
  width: 130px;
  background: white;
  color: black;
  border: 5px solid black;
  border-radius: 50%;
  text-align: center;
  rotate: 20deg;
  box-shadow: 3px 3px 10px black;
  cursor: pointer;
  transition: all ease-in-out .1s;
}
.restaurantLink h1{
  font-size: 18px;
  text-align: center;
}
.restaurantLink:hover{
  filter:drop-shadow(3px 3px 10px white);
}
.leftHalf {
  height: 100%;
  width: 65%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.logoSection {
  height: 50%;
  width: 100%;
}
.cardSection {
  height: 25%;
  width: 100%;
}
.buttonSection {
  height: 20%;
  width: 100%;
}
.rightHalf {
  height: 100%;
  width: 35%;
  border-left: 5px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-image: url('./../components//images//marissa-grootes-u2Lp8tXIcjw-unsplash.jpg');
  background-position: top;
  background-size: cover;
}