.navContainer {
  height: 8%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 3px solid black;
  padding-left: 3rem;
  padding-right: 3rem;
}
.imageSide {
  height: 100%;
  width: 40%;
  justify-content: flex-start;
}
.imageSide h1 {
  color: black;
}
.forkContainer {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid black;
  margin-right: 10px;
}
.buttonSide {
  height: 100%;
  width: 60%;
}
.searchBar {
  width: 50%;
  height: 50px;
  background: white;
  border: 3px solid black;
  color: black;
  justify-content: space-around;
  border-radius: 8px;
  font-weight: bold;
  transition: all ease-in-out .1s;
  padding-left: 3rem;
}
.searchBar:focus {
  outline: none;
  border: 5px solid black
}
.shoppingCart {
  transition: all ease-in-out 0.1s;
}
.shoppingCart:hover {
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.5));
  animation: shakeIcon;
  animation-duration: .5s;
}
@keyframes shakeIcon {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: 15deg;
  }
  50% {
    rotate: -15deg;
  }
  75% {
    rotate: 15deg;
  }
  100% {
    rotate: 0deg;
  }
}
